<% layout("/layouts/boilerplat") -%>

<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <h2 class="mb-4 text-center">Create the New Listing</h2>

      <form method="POST" action="/Listing" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="Title" class="form-label">Title</label>
          <input
            type="text"
            name="Listing[title]"
            class="form-control"
            id="Title"
            placeholder="Enter title"
            required
          />
          <div class="invalid-feedback">Title is required!</div>
        </div>

        <div class="mb-3">
          <label for="Description" class="form-label">Description</label>
          <textarea
            rows="5"
            name="Listing[description]"
            class="form-control"
            id="Description"
            placeholder="Enter description"
            required
          ></textarea>
          <div class="invalid-feedback">Description is required!</div>
        </div>

        <div class="mb-3">
          <label for="Img" class="form-label">Image URL</label>
          <input
            type="text"
            name="Listing[image]"
            class="form-control"
            id="Img"
            placeholder="Paste image URL"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="Price" class="form-label">Price</label>
            <input
              type="number"
              name="Listing[price]"
              class="form-control"
              id="Price"
              placeholder="Enter price"
              required
            />
            <div class="invalid-feedback">Price is required!</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="Location" class="form-label">Location</label>
            <input
              type="text"
              name="Listing[location]"
              class="form-control"
              id="Location"
              placeholder="Enter location"
              required
            />
            <div class="invalid-feedback">Location is required!</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="Country" class="form-label">Country</label>
          <input
            type="text"
            name="Listing[country]"
            class="form-control"
            id="Country"
            placeholder="Enter country"
            required
          />
          <div class="invalid-feedback">Country is required!</div>
        </div>

        <button class="btn btn-dark w-100">Add Listing</button>
      </form>
    </div>
  </div>
</div>

<script src="/JS/formValidate.js"></script>
